table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 20%;
// }

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-anCode {
  width: 5%;
}

.mat-column-name {
  width: 35%;
}

.mat-column-lecturer {
  width: 15%;
}

.mat-column-day {
  width: 12%;
}

.mat-column-time {
  width: 10%;
}
